server:
  port: 8080
spring:
  profiles:
    active: dev

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    # 自动将数据库表字段按照驼峰格式转换为 bean
    map-underscore-to-camel-case: true
    cache-enabled: false
    call-setters-on-nulls: true
    jdbc-type-for-null: 'null'
#分页配置
pagehelper:
  helperDialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

logging:
  level:
    com.jeb.framework.mapper: debug
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

